*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Expense{
    margin: 0px auto;
    width: 400px;
    
}
.amount{
    border: 1px solid black;
    padding: 35px;
}
.transaction{
    margin-top: 50px;
    border: 1px solid black;
    height: 250px;
    padding: 35px;
}
li{
    display: block;
}
 button{
    color: white;
    background-color: rgb(21, 116, 189);
    width: 50px;
}
.cancelbtn{
    color: white;
    background-color: red;
    width: 25px;
}