*{
    margin:0px;
    padding: 0px;
}

nav{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
}
nav h2{
    color: aliceblue;
    font-weight: 500;
    font-style: italic;
}
li{
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}